.flex-container {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    gap: 10px
}

.submit button{
    position: absolute;
    top: 0;
    right: 0;
}

.submit form{
    position: absolute;
    top:0;
    right: 168px;
}

